
.items-container {
  margin: 20px;
}

.items-list {
  list-style-type: none;
  padding: 0;
}

.item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 10px;
}

.item.done {
  text-decoration: line-through;
}

.item.in-progress {
  color: orange;
}

.item-buttons button {
  margin-right: 5px;
}

.navbar-custom {
  display: flex;
  justify-content: space-between;
  justify-content: space-around; 
   justify-content: space-evenly;
}









